<!-- INSTANT BUTTON START -->
<div id="ic-cpage-btn-container" class="ic-btn-container">
    <div class='ic-css-reset' style="width:100% !important">
        <div id="ic-cpage-btn-wrapper" class="ic-btn-wrapper">
            <button disabled id="ic-cpage-btn" class="ic-btn" type="button" data-instant="true">
                Instant Checkout
            </button>
            <div class="ic-btn-strike">
                <span>or</span>
            </div>
        </div>
    </div>
</div>
<!-- INSTANT BUTTON END -->