<!-- INSTANT BUTTON START -->
<div id="ic-cpage-btn-container" class="ic-btn-container">
    <div class='ic-css-reset' style="width:100% !important">
        <div id="ic-cpage-btn-wrapper" class="ic-btn-wrapper">
            <button disabled id="ic-cpage-btn" class="ic-btn" type="button">
                <svg id="ic-cpage-btn-lock-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="15"
                    style="margin-right:7px" viewBox="0 0 22 22">
                    <path style="fill:white"
                        d="M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-10 0v-4c0-2.206 1.794-4 4-4s4 1.794 4 4v4h-8z" />
                </svg>
                <span id="ic-cpage-btn-text">Instant Checkout</span>
            </button>
            <div class="ic-btn-strike">
                <span>or</span>
            </div>
        </div>
    </div>
</div>
<!-- INSTANT BUTTON END -->