<!-- INSTANT BUTTON START -->
<div id="ic-mc-btn-container" class="ic-btn-container">
    <div class='ic-css-reset'>
        <div id="ic-mc-btn-wrapper" class="ic-btn-wrapper">
            <button disabled id="ic-mc-btn" data-bind="afterRender: render" class="ic-btn" type="button"
                data-instant="true">
                Instant Checkout
            </button>
            <div id="ic-mc-btn-strike" class="ic-btn-strike">
                <span>or</span>
            </div>
        </div>
    </div>
</div>
<!-- INSTANT BUTTON END -->