<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
        <payment>
            <instant>
                <general_title>Pay by Card</general_title>
                <enabled>0</enabled>
                <title>Pay by Card</title>
                <model>Instant\Checkout\Model\Payment\InstantPayment</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <can_use_checkout>0</can_use_checkout>
                <can_use_internal>1</can_use_internal>
            </instant>
        </payment>
        <instant>
            <general>
                <enable_catalog>0</enable_catalog>
                <enable_minicart>0</enable_minicart>
                <enable_checkout_summary>0</enable_checkout_summary>
                <enable_checkout_page>0</enable_checkout_page>
                <enable_sandbox>1</enable_sandbox>
                <cpage_btn_width>60</cpage_btn_width>
                <mc_btn_width>90</mc_btn_width>
                <should_resize_cart_index_btn>1</should_resize_cart_index_btn>
                <should_resize_pdp_btn>1</should_resize_pdp_btn>
                <should_position_pdp_below_atc>1</should_position_pdp_below_atc>
                <pdp_btn_custom_style></pdp_btn_custom_style>
                <disabled_for_skus_containing></disabled_for_skus_containing>
                <retry_failures_cron>*/5 * * * *</retry_failures_cron>
                <retry_failures_count>3</retry_failures_count>
            </general>
        </instant>
    </default>
</config>