<config>
    <preference for="Instant\Checkout\Api\CartsManagementInterface"
        type="Instant\Checkout\Model\CartsManagement" />
    <!-- Request logger -->
    <preference for="Instant\Checkout\Api\RequestLogRepositoryInterface"
        type="Instant\Checkout\Model\RequestLogRepository" />
    <preference for="Instant\Checkout\Api\Data\RequestLogInterface"
        type="Instant\Checkout\Model\Data\RequestLog" />
    <preference for="Instant\Checkout\Api\Data\RequestLogSearchResultsInterface"
        type="Magento\Framework\Api\SearchResults" />
    <!-- End request logger -->

    <!-- Reward service -->
    <preference for="Instant\Checkout\Api\RewardServiceInterface."
        type="Instant\Checkout\Model\RewardService" />
    <!-- End reward service -->
</config>