<config>
    <preference for="Instant\Checkout\Api\CartsManagementInterface"
        type="Instant\Checkout\Model\CartsManagement" />

    <!-- Request logger -->
    <preference for="Instant\Checkout\Api\RequestLogRepositoryInterface"
        type="Instant\Checkout\Model\RequestLogRepository" />
    <preference for="Instant\Checkout\Api\Data\RequestLogInterface"
        type="Instant\Checkout\Model\Data\RequestLog" />
    <preference for="Instant\Checkout\Api\Data\RequestLogSearchResultsInterface"
        type="Magento\Framework\Api\SearchResults" />
    <!-- End request logger -->

    <preference for="StripeIntegration\Payments\Api\ServiceInterface"
        type="StripeIntegration\Payments\Api\Service" />
</config>