<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Instant\Checkout\Api\CartsManagementInterface"
        type="Instant\Checkout\Model\CartsManagement" />

    <!-- Request logger -->
    <preference for="Instant\Checkout\Api\RequestLogRepositoryInterface"
        type="Instant\Checkout\Model\RequestLogRepository" />
    <preference for="Instant\Checkout\Api\Data\RequestLogInterface"
        type="Instant\Checkout\Model\Data\RequestLog" />
    <preference for="Instant\Checkout\Api\Data\RequestLogSearchResultsInterface"
        type="Magento\Framework\Api\SearchResults" />
    <!-- End request logger -->

    <preference for="Instant\Checkout\Api\ServiceInterface"
        type="Instant\Checkout\Api\Service" />


    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="set_app_id_and_token:command" xsi:type="object">Instant\Checkout\Console\Command\SetInstantAppIdAndToken</item>
            </argument>
        </arguments>
    </type>
</config>