<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="notify_instant_on_shipment" instance="Instant\Checkout\Observer\NotifyInstantOnShipment" />
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="set_tx_on_invoice_pay" instance="Instant\Checkout\Observer\SetTransactionOnInvoicePaid" />
        <observer name="guest_to_customer" instance="Instant\Checkout\Observer\CreateCustomerOrUpdateGuestOrderWithCustomer" />
    </event>
</config>