.ic-css-reset {
  width          : inherit;
  display        : inherit;
  align-items    : inherit;
  justify-content: inherit;

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin        : 0;
    padding       : 0;
    color         : white;
    border        : 0;
    letter-spacing: normal !important;
    font          : inherit !important;
    font-size     : 18px !important;
    text-transform: none !important;
    vertical-align: baseline;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing : 0;
  }
}

.ic-btn-container {
  -webkit-box-align    : center;
  -ms-flex-align       : center;
  align-items          : center;
  -webkit-box-pack     : center;
  -ms-flex-pack        : center;
  justify-content      : center;
  width                : 100%;
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
}

#ic-mc-btn-container {
  display: none;
}

#ic-cindex-btn-container {
  display: none;
}

#ic-cpage-btn-container {
  display: none;
}

#ic-pdp-btn-container {
  display: none;
}

#ic-backdrop-container {
  display : none;
  z-index : 99999;
  position: absolute;
}

.ic-btn {
  display          : -webkit-box !important;
  display          : -ms-flexbox !important;
  display          : flex !important;
  width            : 100% !important;
  -webkit-box-align: center !important;
  -ms-flex-align   : center !important;
  align-items      : center !important;
  -webkit-box-pack : center !important;
  -ms-flex-pack    : center !important;
  justify-content  : center !important;
  line-height      : 2.4rem !important;
  background       : rgb(0, 209, 96);
  background       : -webkit-gradient(linear, left top, right top, color-stop(7%, rgba(0, 209, 96, 1)), color-stop(43%, rgba(0, 209, 96, 1)), color-stop(100%, rgba(100, 200, 57, 1)), color-stop(100%, rgba(129, 198, 46, 1)), to(rgba(129, 198, 46, 1)));
  background       : -o-linear-gradient(left, rgba(0, 209, 96, 1) 7%, rgba(0, 209, 96, 1) 43%, rgba(100, 200, 57, 1) 100%, rgba(129, 198, 46, 1) 100%, rgba(129, 198, 46, 1) 100%);
  background       : linear-gradient(90deg, rgba(0, 209, 96, 1) 7%, rgba(0, 209, 96, 1) 43%, rgba(100, 200, 57, 1) 100%, rgba(129, 198, 46, 1) 100%, rgba(129, 198, 46, 1) 100%);
  filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d160", endColorstr="#81c62e", GradientType=1);
  font-size        : 19px !important;
  font-weight      : 600 !important;
  border           : 0 !important;
  color            : white !important;
  border           : none !important;
  margin           : 0px;
  margin-bottom    : 5px;
  font-family      : 'Open Sans', Helvetica, Arial, sans-serif !important;

  span {
    color: white !important;
  }
}

.ic-btn-wrapper {
  -webkit-padding-before: 0px !important;
  padding-block-start   : 0px !important;
  -webkit-padding-start : 0px !important;
  padding-inline-start  : 0px !important;
  -webkit-padding-end   : 0px !important;
  padding-inline-end    : 0px !important;
  -webkit-padding-after : 0px !important;
  padding-block-end     : 0px !important;
  -webkit-margin-start  : 0px !important;
  margin-inline-start   : 0px !important;
  -webkit-margin-end    : 0px !important;
  margin-inline-end     : 0px !important;
  display               : -webkit-box;
  display               : -ms-flexbox;
  display               : flex;
  -webkit-box-orient    : vertical !important;
  -webkit-box-direction : normal !important;
  -ms-flex-direction    : column !important;
  flex-direction        : column !important;
  -webkit-box-pack      : center !important;
  -ms-flex-pack         : center !important;
  justify-content       : center !important;
  -webkit-box-align     : center !important;
  -ms-flex-align        : center !important;
  align-items           : center !important;
  width                 : 100%;
  margin-top            : 10px !important;
}

#ic-pdp-btn.ic-pdp-btn::before {
  display: none !important;
}

#ic-pdp-btn.ic-pdp-btn::after {
  display: none !important;
}

.ic-backdrop {
  z-index              : 999;
  position             : fixed;
  top                  : -1000px;
  bottom               : -1000px;
  left                 : -1000px;
  right                : -1000px;
  background-color     : rgba(0, 0, 0, 0.7);
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-pack     : center;
  -ms-flex-pack        : center;
  justify-content      : center;
  -webkit-box-align    : center;
  -ms-flex-align       : center;
  align-items          : center;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
  display              : none;
}

.ic-btn:visited {
  .ic-btn;
}

.ic-btn:focus {
  .ic-btn;
}

.ic-btn:hover {
  .ic-btn;
  filter: brightness(1.05);
}

.ic-btn-text {
  margin    : 0px !important;
  margin-top: 0px !important;
}

.ic-error-text {
  margin     : 0 !important;
  margin-top : 5px !important;
  font-size  : 14px !important;
  font-weight: 500 !important;
  display    : none;
  color      : red !important;
  text-align : center;
}

.ic-backdrop-message {
  margin-bottom: 20px !important;
  text-align   : center;
  font-size    : 18px !important;
  font-weight  : 400 !important;
  cursor       : pointer !important;
  color        : white !important;
}

.ic-backdrop-content {
  width          : 350px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}

@media only screen and (max-width: 350px) {
  .ic-backdrop-content {
    width: 100%;
  }
}

.ic-backdrop-continue {
  margin-bottom  : 20px !important;
  font-size      : 18px !important;
  font-weight    : 700 !important;
  cursor         : pointer !important;
  color          : white !important;
  text-decoration: underline;
}

.ic-backdrop-close {
  position : fixed;
  right    : 25px;
  top      : 25px;
  width    : 16px;
  height   : 16px;
  opacity  : 0.6;
  z-index  : 999999;
  font-size: 23px !important;
  color    : white;
  cursor   : pointer;
}

.ic-mobile-backdrop-inner-container {
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-align    : center;
  -ms-flex-align       : center;
  align-items          : center;
  -webkit-box-pack     : center;
  -ms-flex-pack        : center;
  justify-content      : center;
  width                : 100%;
  height               : 100%;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
}

.ic-mobile-backdrop-text {
  font-size    : 16px !important;
  font-weight  : 600 !important;
  color        : white !important;
  margin-bottom: 15px !important;
}

.ic-mobile-back-to-shopping-text {
  font-size      : 16px !important;
  font-weight    : 700 !important;
  text-decoration: underline !important;
  color          : white !important;
}

/* OR strike styles */

.ic-btn-strike {
  display      : block;
  text-align   : center !important;
  overflow     : hidden !important;
  white-space  : nowrap !important;
  color        : #808080 !important;
  width        : 100% !important;
  margin-top   : 0px !important;
  margin-bottom: 0px !important;
  font-size    : 16px !important;
  font-weight  : 300 !important;

  span {
    color     : #808080 !important;
    font-size : 16px !important;
  }
}

.ic-btn-strike>span {
  position: relative;
  display : inline-block;
}

.ic-btn-strike>span:before,
.ic-btn-strike>span:after {
  content   : "";
  position  : absolute;
  top       : 50%;
  width     : 9999px;
  height    : 1px;
  background: #dfdfdf;
}

.ic-btn-strike>span:before {
  right       : 100%;
  margin-right: 15px;
}

.ic-btn-strike>span:after {
  left       : 100%;
  margin-left: 15px;
}