.instant-btn-container {
  -webkit-box-align    : center;
  -ms-flex-align       : center;
  align-items          : center;
  -webkit-box-pack     : center;
  -ms-flex-pack        : center;
  justify-content      : center;
  width                : 100%;
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
}

.checkout-page-instant-btn-outer-container {
  -webkit-box-align    : center;
  -ms-flex-align       : center;
  align-items          : center;
  -webkit-box-pack     : center;
  -ms-flex-pack        : center;
  justify-content      : center;
  width                : 100%;
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
  margin-bottom        : 30px !important;
}

.checkout-page-instant-btn-container {
  .instant-btn-container;
  width: 85%;
}

#minicart-instant-btn-container {
  display: none;
}

.instant-btn {
  display          : -webkit-box !important;
  display          : -ms-flexbox !important;
  display          : flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align   : center !important;
  align-items      : center !important;
  -webkit-box-pack : center !important;
  -ms-flex-pack    : center !important;
  justify-content  : center !important;
  width            : 90% !important;
  line-height      : 2.4rem !important;
  height           : 50px !important;
  background       : rgb(0, 209, 96);
  background       : -webkit-gradient(linear, left top, right top, color-stop(7%, rgba(0, 209, 96, 1)), color-stop(43%, rgba(0, 209, 96, 1)), color-stop(100%, rgba(100, 200, 57, 1)), color-stop(100%, rgba(129, 198, 46, 1)), to(rgba(129, 198, 46, 1)));
  background       : -o-linear-gradient(left, rgba(0, 209, 96, 1) 7%, rgba(0, 209, 96, 1) 43%, rgba(100, 200, 57, 1) 100%, rgba(129, 198, 46, 1) 100%, rgba(129, 198, 46, 1) 100%);
  background       : linear-gradient(90deg, rgba(0, 209, 96, 1) 7%, rgba(0, 209, 96, 1) 43%, rgba(100, 200, 57, 1) 100%, rgba(129, 198, 46, 1) 100%, rgba(129, 198, 46, 1) 100%);
  filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d160", endColorstr="#81c62e", GradientType=1);
  border-radius    : 8px !important;
  font-size        : 19px !important;
  font-weight      : 600 !important;
  border           : 0 !important;
  color            : white !important;
  border           : none !important;
  margin-right     : 0px !important;
  margin-bottom    : 20px !important;
  margin-top       : 5px !important;
}

.instant-btn-wrapper {
  -webkit-padding-before: 0px !important;
  padding-block-start   : 0px !important;
  -webkit-padding-start : 0px !important;
  padding-inline-start  : 0px !important;
  -webkit-padding-end   : 0px !important;
  padding-inline-end    : 0px !important;
  -webkit-padding-after : 0px !important;
  padding-block-end     : 0px !important;
  -webkit-margin-start  : 0px !important;
  margin-inline-start   : 0px !important;
  -webkit-margin-end    : 0px !important;
  margin-inline-end     : 0px !important;
  border                : 1px solid #dfdfdf !important;
  border-radius         : 5px !important;
  display               : -webkit-box !important;
  display               : -ms-flexbox !important;
  display               : flex !important;
  -webkit-box-orient    : vertical !important;
  -webkit-box-direction : normal !important;
  -ms-flex-direction    : column !important;
  flex-direction        : column !important;
  -webkit-box-pack      : center !important;
  -ms-flex-pack         : center !important;
  justify-content       : center !important;
  -webkit-box-align     : center !important;
  -ms-flex-align        : center !important;
  align-items           : center !important;
  width                 : 100% !important;
  margin-top            : 10px !important;
}

.instant-reset-css {

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
    font-family   : 'Open Sans', Helvetica, Arial, sans-serif !important;
    text-transform: none;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing : 0;
  }
}

.minicart-instant-btn-wrapper {
  .instant-btn-wrapper;
  width: 95% !important;
}

.instant-buy-now {
  text-align   : center !important;
  font-size    : 18px !important;
  width        : 110px !important;
  font-weight  : 500 !important;
  margin-bottom: 5px !important;
  color        : #333333 !important;
  margin-left  : auto;
  margin-right : auto;
}

.instant-skip-the-forms {
  .instant-buy-now;
  width: 160px !important;
}

#product-page-instant-btn.action.tocart.instant-btn::before {
  display: none !important;
}

#product-page-instant-btn.action.tocart.instant-btn::after {
  display: none !important;
}

#product-page-instant-btn.action.tocart.instant-btn {
  width: 90% !important;
}

.instant-backdrop {
  z-index              : 999;
  position             : fixed;
  top                  : -1000px;
  bottom               : -1000px;
  left                 : -1000px;
  right                : -1000px;
  background-color     : rgba(0, 0, 0, 0.7);
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-pack     : center;
  -ms-flex-pack        : center;
  justify-content      : center;
  -webkit-box-align    : center;
  -ms-flex-align       : center;
  align-items          : center;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
  display              : none;
}

.instant-btn:visited {
  .instant-btn;
}

.instant-btn:focus {
  .instant-btn;
}

.instant-btn:hover {
  .instant-btn;
  filter: brightness(1.05);
}

.instant-checkout-text {
  margin    : 0px !important;
  margin-top: 0px !important;
}

#product-page-instant-btn.action.tocart.instant-btn {
  .instant-btn;
}

.instant-error-text {
  margin       : 0 !important;
  margin-bottom: 5px !important;
  margin-top   : 5px !important;
  font-size    : 16px !important;
  font-weight  : 500 !important;
  display      : none;
  color        : red !important;
}

.instant-back-to-checkout {
  margin-bottom    : 20px !important;
  font-size        : 20px !important;
  font-weight      : 600 !important;
  cursor           : pointer !important;
  color            : white !important;
  position         : absolute !important;
  top              : 50% !important;
  left             : 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform    : translate(-50%, -50%) !important;
  transform        : translate(-50%, -50%) !important;
}

.instant-back-to-checkout:hover {
  .instant-back-to-checkout;
  text-decoration: underline;
}

.instant-btn-loading,
.instant-btn-loading:after {
  border-radius: 50%;
  width        : 10em;
  height       : 10em;
}

.instant-btn-loading {
  display          : none;
  margin           : 60px auto !important;
  font-size        : 3px !important;
  position         : relative !important;
  text-indent      : -9999em !important;
  border-top       : 1.1em solid rgba(255, 255, 255, 0.2) !important;
  border-right     : 1.1em solid rgba(255, 255, 255, 0.2) !important;
  border-bottom    : 1.1em solid rgba(255, 255, 255, 0.2) !important;
  border-left      : 1.1em solid #ffffff !important;
  -webkit-transform: translateZ(0) !important;
  -ms-transform    : translateZ(0) !important;
  transform        : translateZ(0) !important;
  -webkit-animation: load8 1.1s infinite linear !important;
  animation        : load8 1.1s infinite linear !important;
}

.mobile-instant-back-to-checkout-backdrop-inner-container {
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-align    : center;
  -ms-flex-align       : center;
  align-items          : center;
  -webkit-box-pack     : center;
  -ms-flex-pack        : center;
  justify-content      : center;
  width                : 100%;
  height               : 100%;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
}

.mobile-instant-back-to-checkout-text {
  font-size    : 16px !important;
  font-weight  : 600 !important;
  color        : white !important;
  margin-bottom: 15px !important;
}

.mobile-instant-back-to-shopping-text {
  font-size      : 16px !important;
  font-weight    : 700 !important;
  text-decoration: underline !important;
  color          : white !important;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform    : rotate(0deg);
    transform        : rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform    : rotate(360deg);
    transform        : rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform    : rotate(0deg);
    transform        : rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform    : rotate(360deg);
    transform        : rotate(360deg);
  }
}

.instant-strike {
  display      : block !important;
  text-align   : center !important;
  overflow     : hidden !important;
  white-space  : nowrap !important;
  color        : #808080 !important;
  width        : 90% !important;
  margin-top   : 4px !important;
  margin-bottom: 4px !important;
  font-size    : 18px !important;
  font-weight  : 300 !important;
}

.instant-strike>span {
  position: relative;
  display : inline-block;
}

.instant-strike>span:before,
.instant-strike>span:after {
  content   : "";
  position  : absolute;
  top       : 50%;
  width     : 9999px;
  height    : 1px;
  background: #dfdfdf;
}

.instant-strike>span:before {
  right       : 100%;
  margin-right: 15px;
}

.instant-strike>span:after {
  left       : 100%;
  margin-left: 15px;
}
