<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="instant" translate="label" sortOrder="110" class="instant-tab">
            <label>Instant Checkout</label>
        </tab>
        <section id="instant" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Instant</label>
            <tab>instant</tab>
            <resource>Instant_Checkout::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Application Config</label>
                <field id="app_id" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instant App ID</label>
                    <comment>Enter the Application ID provided by Instant</comment>
                </field>
                <field id="api_access_token" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instant Access Token</label>
                    <comment>Enter the Access Token provided by Instant (This is used to authenticate your API calls to Instant. IMPORTANT: This is private, do not make publicly available)</comment>
                </field>
                <field id="enable_sandbox" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is in Sandbox/Staging Environment</label>
                    <comment>Defaults to Yes. CRITICAL: Set to No if in LIVE/PRODUCTION environment. Set to Yes if this site is a SANDBOX/STAGING environment. </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="activate_button" translate="label comment" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Activate</button_label>
                    <button_url>adminhtml/instant/activation/send</button_url>
                    <frontend_model>Instant\Checkout\Block\Adminhtml\System\Config\Activation\Send</frontend_model>
                    <comment>Important: Ensure config is correct and saved before activating Instant. Clicking this
                 will send an access token to Instant, allowing Instant to make secure API calls to your store.
             </comment>
                </field>
                <field id="disabled_for_skus_containing" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Instant for products where the SKU contains the following specified phrases (provide a comma delimited list)</label>
                    <comment>Defaults to empty. Enter a comma delimited list. If a product's SKU contains any of phrases in this comma delimited list, then Instant will be disabled. (e.g. ABC,DEF will ensure Instant is disabled for all products where the SKU contains either ABC or DEF.) To enable Instant for all products, leave empty.</comment>
                </field>
                <field id="enable_catalog" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable on Product Catalog Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_minicart" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable on Minicart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_checkout_summary" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable on Cart Summary Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_checkout_page" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable on Checkout Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_cookie_forwarding" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Cookie Forwarding</label>
                    <comment>*Experimental* Defaults to no. Provides Instant with cookies on page load which enables support for cookie based functionality like affiliate plugins.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="retry_failures_cron" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Retry failures cron schedule</label>
                    <comment>Schedule for resending failed requests - default is */5 * * * *</comment>
                </field>
                <field id="retry_failures_count" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Retry failure count</label>
                    <comment>Number of attempts to retry failed requests to Instant. Default is 3</comment>
                </field>
            </group>
            <group id="visual" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Visual Config</label>
                <field id="mc_btn_width" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width of minicart button</label>
                    <comment>Defaults to 90%. (%) Low values may cause visual glitching.</comment>
                </field>
                <field id="cpage_btn_width" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width of checkout page button</label>
                    <comment>Defaults to 60%. (%) Low values may cause visual glitching.</comment>
                </field>
                <field id="should_resize_pdp_btn" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Should resize Instant PDP button to Add to Cart button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defaults to yes.</comment>
                </field>
                <field id="should_resize_cart_index_btn" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Should resize Instant cart summary button to primary proceed button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defaults to yes.</comment>
                </field>
                <field id="btn_border_radius" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Border radius of buttons</label>
                    <comment>Defaults to 3. (in px, provide an integer. min 0, max 10)</comment>
                </field>
                <field id="btn_height" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height of buttons</label>
                    <comment>Defaults to 45. (in px, provide an integer. min 40, max 50)</comment>
                </field>
                <field id="btn_color" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color of Instant buttons. In HEX (e.g. #RRGGBB)</label>
                    <comment>Defaults to #00D160.</comment>
                </field>
            </group>
        </section>
    </system>
</config>